.navbar {
  height: 100%;
  text-decoration: none;
  padding: var(--mantine-spacing-md);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.links {
  margin-top: var(--mantine-spacing-md);
  flex: 1;
  user-select: none;
  margin-inline: calc(var(--mantine-spacing-md) * -1);
}

.linksInner {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
}
